.container {
  display: flex;
  flex-direction: column;
  height: 800px;

  & h2 {
    font-size: 26px;
    font-weight: 700;
  }

  & p {
    flex: 1 1 auto;
    font-size: 14px;
    font-weight: 600;
  }
}

.arrowIcon {
  margin-right: 8px;
  transform: rotate(-90deg);
  width: 1rem;
  height: 0.5rem;
}

.link {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.7;
  }
}

.link span {
  font-size: 18px;
  vertical-align: baseline;
}
