.table-container {
  width: 100%;
  overflow-x: auto;
  margin-top: 1rem;
}

table {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  color: #5C5C5C;
  border-collapse: separate;
  border-spacing: 0 6px;

  th, td {
    padding: 1rem;
    text-align: left;
  }

  th {
    cursor: pointer;
  }

  tbody {
    tr {
      transition: box-shadow 0.2s ease;
      background-color: #FFFFFF;
      overflow: hidden;

      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        cursor: pointer;
      }
       td {
         width: 80px;
       }

      td:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }

      td:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }
}
